[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
marshmallow = "*"
underthesea = "*"
jupyter = "*"
pandas = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
autopep8 = "*"
jedi = "*"
isort = "*"
python-language-server = "*"
rope = "*"

[requires]
python_version = "3.7"
